<footer class="app-footer">
    <div class="container">
        <div class="row">
            <!-- Información sobre la empresa o aplicación -->
            <div class="col-md-4">
                <h5>Sobre Nosotros</h5>
                <p>Plataforma líder en tests neuropsicológicos para profesionales de la psicología. Ayudamos a los profesionales a tomar decisiones informadas para el bienestar de sus pacientes.</p>
            </div>
            
            <!-- Links útiles -->
            <div class="col-md-4">
                <h5>Enlaces Rápidos</h5>
                <ul class="footer-links">
                    <li><a routerLink="/">Inicio</a></li>
                    <li><a routerLink="/test-neuropsicologico">Test Neuropsicológico</a></li>
                    <li><a routerLink="/ultimas-noticias">Últimas Noticias</a></li>
                </ul>
            </div>
            
            <!-- Contacto o Redes Sociales -->
            <div class="col-md-4">
                <h5>Contacto</h5>
                <p>Email: soporte@miapp.com</p>
                <p>Tel: +1 (123) 456-7890</p>
                <div class="social-icons">
                    <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                    <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                    <a href="#" target="_blank"><i class="fa fa-instagram"></i></a>
                </div>
            </div>
        </div>
        
        <div class="row mt-4">
            <div class="col-md-12 text-center">
                <p>&copy; 2023 MiApp. Todos los derechos reservados.</p>
            </div>
        </div>
    </div>
</footer>
