<div class="container hero-section">
  <div class="row align-items-center">
      <div class="col-md-6 text-container">
          <h1>Bienvenido a <span class="brand-name">MiAppPsicología</span></h1>
          <p class="lead">Herramienta avanzada para psicólogos. Realiza pruebas y mantén un historial detallado.</p>
          <a routerLink="/register" class="btn btn-accent btn-lg">¡Empieza Ahora!</a>
      </div>
      <div class="col-md-6">
          <img src="./../../assets/psicologiaLogo.avif" alt="Imagen Psicología" class="hero-img">
      </div>
  </div>
</div>

<div class="container mt-5">
  <h2 class="section-title text-center">¿Por qué elegirnos?</h2>
  <div class="row feature-section mt-4">
      <div class="col-md-4 text-center feature-box">
          <i class="fa fa-user-check fa-3x"></i>
          <h3>Personalización</h3>
          <p>Pruebas adaptadas a cada paciente.</p>
      </div>
      <div class="col-md-4 text-center feature-box">
          <i class="fa fa-chart-line fa-3x"></i>
          <h3>Historial Detallado</h3>
          <p>Registros completos y accesibles.</p>
      </div>
      <div class="col-md-4 text-center feature-box">
          <i class="fa fa-shield-alt fa-3x"></i>
          <h3>Seguridad</h3>
          <p>Protegemos la privacidad de cada dato.</p>
      </div>
  </div>
</div>
