<div class="container hero-section text-center text-md-left">
    <div class="row align-items-center">
        <div class="col-md-6 text-container">
            <h1 class="display-4">Bienvenido a <span class="brand-name">Neurológicamente</span></h1>
            <p class="lead my-4">El nuevo portal web de psicología con las mejores herramientas de gestion de pacientes.</p>
            <a routerLink="/register" class="btn btn-accent btn-lg">¡Pruébalo Ahora!</a>
        </div>
        <div class="col-md-6 d-none d-md-block">
            <img src="./../../assets/psicologiaLogo.avif" alt="Ilustración de bienvenida" class="img-fluid">
        </div>
    </div>
  </div>
  
  <div class="container mt-5">
    <h2 class="section-title text-center mb-5">¿Por qué elegirnos?</h2>
    <div class="row feature-section">
        <div class="col-md-4 text-center feature-box">
            <i class="fa fa-user-check fa-3x mb-3"></i>
            <h3>Personalización</h3>
            <p>Pruebas adaptadas a cada paciente.</p>
        </div>
        <div class="col-md-4 text-center feature-box">
            <i class="fa fa-chart-line fa-3x mb-3"></i>
            <h3>Historial Detallado</h3>
            <p>Registros completos y accesibles.</p>
        </div>
        <div class="col-md-4 text-center feature-box">
            <i class="fa fa-shield-alt fa-3x mb-3"></i>
            <h3>Seguridad</h3>
            <p>Protegemos la privacidad de cada dato.</p>
        </div>
    </div>
  </div>
  