/* General Styling */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f6f8fa;
}

/* Sidebar Styling */
.sidebar {
    height: 100vh;
    overflow-y: auto;
    border-right: 2px solid #e1e1e1;
    transition: all 0.3s;
    position: relative;
    padding: 1rem 0;
}

.sidebar:hover {
    box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.1);
}

/* List Group Styling */
.list-group-item {
    cursor: pointer;
    transition: all 0.3s;
    border-radius: 15px;
    margin: 5px 0;
    padding-left: 1.5rem;
}

.list-group-item i {
    transition: all 0.3s;
}

.list-group-item:hover {
    background-color: #e6e6e6;
    transform: scale(1.03);
}

.list-group-item:hover i {
    transform: scale(1.2);
}

/* Content Styling */
.main-content {
    height: 100vh;
    overflow-y: auto;
    transition: all 0.3s;
    padding: 2rem;
}

.main-content > div {
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 2rem;
}
