/* Estilo General */
body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    background-color: #f8f8f8;
}

.container-fluid {
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px;
}

/* Cabecera */
h2 {
    color: #2c3e50;
    font-weight: 700;
    margin-bottom: 30px;
}

/* Barra de búsqueda */
app-patient-search {
    margin-bottom: 30px;
}

/* Tarjetas de Pacientes */
.row {
    margin: 0 -15px;
}

.col-md-6 {
    padding: 15px;
}

.card {
    border: 1px solid #e0e0e0; /* Bordes sutiles para las tarjetas */
    border-radius: 5px; /* Bordos redondeados pero no demasiado */
    background-color: #fff; /* Fondo blanco para la tarjeta */
}

.card-body {
    padding: 20px;
}

.card-title {
    border-bottom: 1px solid #e0e0e0; /* Una línea sutil para separar el título */
    padding-bottom: 10px;
    margin-bottom: 15px;
    font-size: 1.3rem;
    color: #2980b9; /* Un toque de azul para el título */
    font-weight: 500; /* Un peso medio para el título */
}

.card-text {
    margin-bottom: 10px;
    color: #7f8c8d;
    font-size: 1rem;
}

/* Paginación */
nav {
    margin-top: 30px;
}

.pagination {
    justify-content: center;
    margin: 20px 0;
}
