<div class="container mt-5">
  <ngb-progressbar [value]="progressBarValue" [max]="100" height="2em"></ngb-progressbar>

  <!-- Feedback Message -->
  <div *ngIf="submitMessage" class="alert alert-info mt-2">
    {{ submitMessage }}
  </div>

  <div class="mt-3" *ngIf="currentStep === 1">
    <!-- Step 1: Datos Personales -->
    <h3>Datos Personales</h3>
    <div [formGroup]="registerForm">
      <app-datos-personales formControlName="datosPersonales"></app-datos-personales>
  </div>
    <button class="btn btn-primary float-right" (click)="nextStep()">Siguiente</button>
  </div>

  <div *ngIf="currentStep === 2">
    <!-- Step 2: Anamnesis -->
    <h3>Anamnesis</h3>
    <div [formGroup]="registerForm">
      <app-anamnesis formControlName="anamnesis"></app-anamnesis>
    </div>
    <button class="btn btn-success float-right" (click)="onSubmit()">Finalizar</button>
</div>

